{% extends 'base.html' %}

{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center py-5">
    <h1 class="text-center mb-4">About Us</h1>
    <p class="text-center mb-5">At Automated Tools, we specialize in offering powerful online tools designed to
        streamline <br>your work and enhance productivity. Our tools are easy to use, reliable, and efficient.</p>

    <div class="about-content">
        <h3 class="mb-3">Our Mission</h3>
        <p>Our goal is to provide accessible tools that empower users to work <br> more effectively. We believe in
            simplicity
            and innovation.</p>

        <h3 class="mb-3">Our Tools</h3>
        <ul class="list-unstyled">
            <li><strong>Data Cleaning & Visualization Automation:</strong> Clean and visualize data effortlessly.</li>
            <li><strong>Document Converter:</strong> Convert Word documents to PDF and vice versa.</li>
        </ul>
    </div>
</div>

{% endblock %}