{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h3 class="text-center mb-4">Cleaned Data Preview</h3>

    <!-- Table preview -->
    <div class="card card-preview p-3 mb-4">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-sm mb-0">
                <thead class="table-light">
                    <tr>
                        {% for col in columns %}
                        <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in preview_rows %}
                    <tr>
                        {% for cell in row %}
                        <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Download button at the bottom -->
    <div class="text-center mb-5">
        <a href="{% url 'download_cleaned' %}" class="btn btn-success btn-lg px-5">
            Download Cleaned CSV
        </a>
       <br/> <br/>
        <div class="text-center mb-5">
        <a href="{% url 'upload_visualization' %}" class="btn btn-warning btn-lg px-5">
            Proceed to Visualization
        </a>
    </div>

</div>

{% endblock content %}
