{% extends 'base.html' %}

{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center py-5">
    <h1 class="text-center mb-4">Terms of Use</h1>
    <p class="text-center mb-5">By accessing and using Automtated Tools's website, you agree to the following terms and conditions:</p>
    
    <div class="terms-content">
        <h3 class="mb-3">1. Acceptance of Terms</h3>
        <p>By using our services, you agree to comply with these Terms of Use and all applicable laws.</p>
        
        <h3 class="mb-3">2. Use of Services</h3>
        <p>You may use our tools for lawful purposes only. You agree not to misuse our services.</p>

        <h3 class="mb-3">3. Intellectual Property</h3>
        <p>All content on this website is owned by [Your Company Name] and protected by intellectual property laws.</p>

        <h3 class="mb-3">4. Limitation of Liability</h3>
        <p>Automtated Tools is not liable for any loss or damage resulting from using our tools.</p>

        <h3 class="mb-3">5. Changes to Terms</h3>
        <p>We reserve the right to modify these Terms at any time. Changes will be effective immediately upon posting on this website.</p>
    </div>
</div>

{% endblock %}
